{%extends "base/base.html" %}

{%block title %} Página inicial - UniPag {% endblock %}

{%block content %}

{{logado}}
      <!-- Main jumbotron for a primary marketing message or call to action -->


    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Venda com segurança!</h1>
        <p>A UniPag te oferece um sistema de gerenciamento de vendas, para equílibrio de tempo, custo e qualidade do seu negócio.</p>
        <p><a class="btn btn-primary btn-lg" href="cadastroCliente/" role="button">quero VENDER &raquo;</a></p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Compre com segurança!</h1>
        <p>Para um gerenciamento e controle de compras, a UniPag oferece um sistema simples e seguro para que você realize suas compras com mais segurança e menos dor de cabeça.</p>
        <p><a class="btn btn-primary btn-lg" href="cadastroConsumidor/" role="button">quero COMPRAR &raquo;</a></p>
      </div>
    </div>

  
{% endblock %}

